<style>
	.modal-content {
		width: 1024px;
	}
</style>
<div class="modal-header">
	<button type="button" class="close" ng-click="cancel()">
		<span>&times;</span>
	</button>
	<h3 class="modal-title">修改绑定课程</h3>
</div>
<div class="modal-body">
	<form name="schemeVersionCopyform" class="form-horizontal" novalidate>
		<div class="row">
			<div class="form-group col-xs-4">
				<label class="col-xs-5 control-label">姓名：</label>
				<label class="col-xs-7"style="margin-top:7px;">{{outSideMaintain.studentName}}</label>
			</div>
			<div class="form-group col-xs-4">
				<label class="col-xs-5 control-label">学号：</label>
				<label class="col-xs-7"style="margin-top:7px;">{{outSideMaintain.studentNum}}</label>
			</div>
			<div class="form-group col-xs-4">
				<label class="col-xs-5 control-label">所属学院：</label>
				<label class="col-xs-7"style="margin-top:7px;">{{outSideMaintain.studentDepartmentName}}</label>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-xs-4">
				<label class="col-xs-5 control-label">年级专业：</label>
				<label class="col-xs-7"style="margin-top:7px;">{{outSideMaintain.semesterMajor}}</label>
			</div>
			<!--<div class="form-group col-xs-4">-->
				<!--<label class="col-xs-5 control-label">专业：</label>-->
				<!--<label class="col-xs-7"style="margin-top:7px;">{{outSideMaintain.majorName}}</label>-->
			<!--</div>-->
			<div class="form-group col-xs-4">
				<label class="col-xs-5 control-label">班级：</label>
				<label class="col-xs-7"style="margin-top:7px;">{{outSideMaintain.className}}</label>
			</div>
		</div>
		<div class="form-group" style="border-top: 1px solid #e5e5e5;padding-top: 5px">
			<div class="col-xs-6">
				<label style="margin-left: 10px">系统外课程列表</label>
			</div>
			<div class="col-xs-6">
				<label style="margin-left: 10px">计划课程列表</label>
			</div>
		</div>
		<div class="form-group">
			<div class="col-xs-6">
				<table id="outsideCourseTable" ui-jq="bootstrapTable" ui-options="outsideCourseTable" class="table table-responsive"></table>
			</div>
			<div class="col-xs-6">
				<table id="courseCurriculaTable" ui-jq="bootstrapTable" ui-options="courseCurriculaTable" class="table table-responsive"></table>
			</div>
		</div>

	</form>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" type="button" ng-click="ok()">确定</button>
	<button class="btn btn-default" type="button" ng-click="cancel()">取 消</button>
</div>