<div class="modal-header">
    <h3 class="modal-title">修 改</h3>
</div>

<div class="right-content" style="margin-bottom: 6px;">
    <form name="gradeListMaintenance_add_form" ng-submit="searchSubmit()" class="form-horizontal search-form">
        <div class=" row">
            <div class="col-xs-12" >
                <div class="col-xs-2"></div>
                <label class="col-xs-2 control-label" style="padding-left: 10px;">等级类型代码：</label>
                <div class="col-xs-5">
                    <select ng-model="gradeListMaintenance.levelTypeId" ng-change="onChange()" ng-required="true" id="levelTypeId" name="levelTypeId" ui-jq="chosen" ui-options="{search_contains: true}" class="form-control">
                        <option ng-repeat="date in gradeTypeData" value="{{date.id}} + '-' +{{date.levelId}}">{{date.name}}</option>
                    </select>
                </div>
            </div>
        </div>
    </form>
    <div class="right-content-table">
        <!--<div id="toolbar" class="btn-group">
            <div>
                <button id="btn_add" type="button" class="btn btn-default add-btn" ng-click="openAdd()">
                    <span class="glyphicon glyphicon-plus toolbar-btn-icon"></span>新增
                </button>

                &nbsp;
                <button id="btn_delete" type="button"  class="btn btn-default del-btn" ng-click="openDelete()">
                    <span class="glyphicon glyphicon-remove toolbar-btn-icon" ></span>删除
                </button>

            </div>
        </div>-->
       <!-- <table id="showTable2" ui-jq="bootstrapTable" ui-options="showTable2" class="table table-responsive"></table>-->
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button"  ng-click="ok(gradeListMaintenance_add_form)">确 定</button>
    <button class="btn btn-default" type="button" ng-click="cancel()">取 消</button>
</div>