<div class="right-content" >
	<div class="col-xs-2 left-tree" ng-style="leftTreeStyle" ng-scroll-bar>
		<ul id="menuTree" z-tree tree-options="zTreeOptions" class="ztree"></ul>
	</div>
	<div class="col-xs-10" style="padding: 5px 5px 0px 5px;">
		<div class="right-content-search">
			<div>
				<label class="control-label search-control" ng-click="searchFormHideToggle()">
					<i class="fa" ng-class="{'fa-caret-down': !isHideSearchForm, 'fa-caret-right': isHideSearchForm}"></i>&nbsp;查询条件
				</label>
			</div>
			<div ng-hide="isHideSearchForm">
				<form name="userSearchForm" ng-submit="searchSubmit()" class="form-horizontal search-form" novalidate>
					<div class="row">
						<div class="form-group col-xs-4">
							<label class="col-xs-4 control-label">姓名：</label>
							<div class="col-xs-8">
								<input type="text" ng-model="user.xm" id="xm" name="xm" class="form-control"/>
							</div>
						</div>
						<div class="form-group col-xs-4">
							<label class="col-xs-4 control-label">昵称：</label>
							<div class="col-xs-8">
								<input type="text" ng-model="user.nc" id="nc" name="nc" class="form-control"/>
							</div>
						</div>
						<div class="form-group col-xs-4">
							<label class="col-xs-4 control-label">状态：</label>
							<div class="col-xs-8">
								<select ng-model="user.zt" id="zt" name="zt" ui-jq="chosen" ui-options="{search_contains: true}" class="form-control">
									<option value="">== 请选择 ==</option>
									<option value="0">停用</option>
									<option value="1">启用</option>
								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 btn-center">
							<!-- 点击触发 ng-submit 事件 -->
							<button type="submit" class="btn btn-info">
								<span class="fa fa-search refer btn-icon-padding"></span>查询
							</button>
							<button type="button" class="btn btn-default" ng-click="searchReset()">
								<span class="fa fa-refresh reset btn-icon-padding"></span>重置
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div id="userTableDiv" style="padding: 5px 5px 0px 5px;">
			<!--<div id="toolbar" class="btn-group">
				<div>
					<button type="button" class="btn btn-default add-btn" ng-click="openAdd()">
						<span class="fa fa-plus toolbar-btn-icon"></span>新增
					</button>
				</div>
			</div>
			<table id="userTable" ui-jq="bootstrapTable" ui-options="userTable" class="table table-responsive"></table>-->
		</div>
	</div>
</div>