<style>
	.modal-footer {
		border-top: 0px #e5e5e5 solid!important;
	    padding: 10px;
	}
	.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
		border-left: 1px solid #ddd;
		border-right: 1px solid #ddd;
		border-radius: 6px 6px 0 0;
		border-top-color: #03a9f5;
    	border-bottom: none;
	}
</style>
<!--//考试方式申请-->
<div class="right-content">
	<div class="right-content-search">
		<div>
			<label class="control-label search-control" ng-click="shSearchFormHideToggle()">
				<i class="fa" ng-class="{'fa-caret-down': !shIsHideSearchForm, 'fa-caret-right': shIsHideSearchForm}"></i>&nbsp;查询条件
			</label>
		</div>
		<div ng-hide="shIsHideSearchForm">
			<form name="shpyfabzkzsh_form" class="form-horizontal search-form">
				<div class="row">
					<div class="form-group col-xs-4">
						<label class="col-xs-4 control-label">学年学期：</label>
						<div class="col-xs-8" >
							<select name="semesterId" id="semesterId" ng-model="makeupExaminationList.semesterId" class="form-control" ui-jq="chosen"  ui-options="{search_contains: true}">
								<option value="">==请选择==</option>
							</select>
						</div>
					</div>
					<div class="form-group col-xs-4">
						<label class="col-xs-4 control-label" style="padding-left: 13px;">课程名称/编号：</label>
						<div class="col-xs-8">
							<input class="form-control" ng-model="makeupExaminationList.courseNumAndName" class="input-small">
						</div>
					</div>
					<div class="form-group col-xs-4">
						<label class="col-xs-4 control-label">开课单位：</label>
						<div class="col-xs-8">
							<input class="form-control" ng-model="makeupExaminationList.departmentId" class="input-small">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-xs-4">
						<label class="col-xs-4 control-label">考试方式：</label>
						<div class="col-xs-8">
							<select ng-model="makeupExaminationList.examWays" id="examWays" name="examWays" ui-jq="chosen" ui-options="{search_contains: true}" class="form-control">
								<option value="">==请选择==</option>
							</select>
						</div>
					</div>
					<div class="form-group col-xs-4">
						<label class="col-xs-4 control-label">审批状态：</label>
						<div class="col-xs-8">
							<select ng-model="makeupExaminationList.approvalStatus" id="approvalStatus" name="approvalStatus" ui-jq="chosen" ui-options="{search_contains: true}" class="form-control">
								<option value="">==请选择==</option>
								<option value="1">通过</option>
								<option value="0">不通过</option>
								<option value="2">审核中</option>
							</select>
						</div>
					</div>
					<div class="form-group col-xs-4">
						<label class="col-xs-4 control-label" style="padding-left: 13px;">学号/姓名：</label>
						<div class="col-xs-8">
							<input class="form-control" ng-model="makeupExaminationList.courseNum" class="input-small">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 btn-center">
						<!-- 点击触发 ng-submit 事件 -->
						<button type="submit" class="btn btn-info" ng-click="shSearchSubmit()">
							<span class="fa fa-search refer btn-icon-padding"></span>查询
						</button>
						<button type="button" class="btn btn-default" ng-click="shSearchReset()">
							<span class="fa fa-refresh reset btn-icon-padding"></span>重置
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="row right-content-table">
				<div id="toolbar" class="btn-group">
					<div>
						<button id="btn_set" type="button" class="btn btn-default" ng-click="batchApproval()">
							<span ></span>批量审批
						</button>
					</div>
				</div>
				<div class="col-xs-12">
					<table id="examinationMethodApprovalTable" ui-jq="bootstrapTable" ui-options="examinationMethodApprovalTable" class="table table-responsive"></table>
				</div>
			</div>
</div>



