<!--
	作者：wangchunlin
	时间：2017-09-27
-->
<div  class="right-content">
	<div class="right-content-search">
		<div>
			<label class="control-label search-control" ng-click="showHideSearchList()">
				<i class="fa" ng-class="{'fa-caret-down': !isHideSearchForm, 'fa-caret-right': isHideSearchForm}"></i>&nbsp;查询条件
			</label>

		</div>
		<div ng-hide="isHideSearchForm">
		<form name="examTeacherCountSearchForm" class="form-horizontal search-form" novalidate>
			<div class="row">
				<div class="form-group col-xs-4">
					<label class="col-xs-4 control-label">学年学期：</label>
					<div class="col-xs-8">
						<select name="semesterId" id="semesterId" ng-model="examTeacherCount.semesterId" ui-jq="chosen" ui-options="{search_contains: true}" class="col-xs-8 form-control">
							<option value="">==请选择==</option>
						</select>
					</div>
				</div>
				<div class="form-group col-xs-4">
					<label class="col-xs-4 control-label" style="padding-left: 13px;">教师工号/姓名：</label>
					<div class="col-xs-8">
						<input class="form-control" ng-model="examTeacherCount.nameOrId" class="input-small">
					</div>
				</div>
				<div class="form-group col-xs-4">
					<label class="col-xs-4 control-label">所属单位：</label>
					<div class="col-xs-8">
						<input class="form-control" ng-model="examTeacherCount.dept" class="input-small">
					</div>
				</div>
            </div>
            <div class="row">
				<div class="form-group col-xs-4">
					<label class="col-xs-4 control-label">时长：</label>
					<div class="col-xs-3">
						<input class="form-control" ng-model="examTeacherCount.minuteMin" class="input-small">
					</div>
					<label class="col-xs-2 control-label" style="text-align:center;padding:5px 0 0 0;">至</label>
					<div class="col-xs-3">
						<input class="form-control" ng-model="examTeacherCount.minuteMax" class="input-small">
					</div>
				</div>
            </div>
            <div class="row">
				<div class="col-xs-12 btn-center">
					<!-- 点击触发 ng-submit 事件 -->
						<button id="btn_refer" type="button" class="btn btn-info" ng-click="searchSubmit()">
							<span class="fa fa-search refer" ></span>查询
						</button>
						<button id="btn_reset" type="button" class="btn btn-default" ng-click="searchReset()">
							<span class="fa fa-refresh reset" ></span>重置
						</button>
				</div>
			</div>
		</form>
		</div>
	</div>
	<div class="right-content-table">
		<table id="examTeacherCountTable" ui-jq="bootstrapTable" ui-options="examTeacherCountTable" class="table table-responsive"></table>
	</div>
</div>