<div class="right-content">
	<div class="right-content-search">
		<div>
			<label class="control-label search-control" ng-click="searchFormHideToggle()">
				<i class="fa" ng-class="{'fa-caret-down': !isHideSearchForm, 'fa-caret-right': isHideSearchForm}"></i>&nbsp;查询条件
			</label>
		</div>
		<div ng-hide="isHideSearchForm">
			<form name="reportRegisterSearchForm" ng-submit="searchSubmit()" class="form-horizontal search-form" novalidate>
				<div class="row">
					<div class="form-group col-xs-4">
						<label class="col-xs-4 control-label">学号/姓名：</label>
						<div class="col-xs-8">
							<input type="text" ng-model="reportRegister.studentNum" id="studentNum" name="studentNum" class="form-control"/>
						</div>
					</div>
					<div class="form-group col-xs-4">
						<label class="col-xs-4 control-label">院系名称：</label>
						<div class="col-xs-8">
							<input type="text" ng-model="reportRegister.deptName" id="deptName" name="deptName" class="form-control"/>
						</div>
					</div>
					<div class="form-group col-xs-4">
						<label class="col-xs-4 control-label">专业名称：</label>
						<div class="col-xs-8">
							<input type="text" ng-model="reportRegister.majorName" id="majorName" name="majorName" class="form-control"/>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-xs-4">
						<label class="col-xs-4 control-label">上课年级：</label>
						<div class="col-xs-8">
							<select ng-model="reportRegister.gradeName" id="gradeName" name="gradeName" ui-jq="chosen" ui-options="{search_contains: true}" class="form-control">
								<option ng-repeat="gradeNameItem in gradeNameData" value="{{gradeNameItem.id}}">{{gradeNameItem.dataNumber}}</option>
							</select>
						</div>
					</div>
					<div class="form-group col-xs-4">
						<label class="col-xs-4 control-label">班级名称：</label>
						<div class="col-xs-8">
							<input type="text" ng-model="reportRegister.executiveClassName" id="executiveClassName" name="executiveClassName" class="form-control"/>
						</div>
					</div>
					<div class="form-group col-xs-4">
						<label class="col-xs-4 control-label">注册状态：</label>
						<div class="col-xs-8">
							<select ng-model="reportRegister.registerStatusCode" id="registerStatusCode" name="registerStatusCode" ui-jq="chosen" ui-options="{search_contains: true}" class="form-control">
								<option ng-repeat="registerStatusCodeItem in registerStatusCodeData" value="{{registerStatusCodeItem.dataNumber}}">{{registerStatusCodeItem.dataName}}</option>
							</select>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-xs-4">
						<label class="col-xs-4 control-label">注册方式：</label>
						<div class="col-xs-8">
							<select ng-model="reportRegister.registerWay" ui-chosen="reportRegisterControlSearchForm.registerWay" id="registerWay" name="registerWay" ui-jq="chosen" ui-options="{search_contains: true}" class="form-control">
								<option value="">== 请选择 ==</option>
								<option value="1">终端</option>
								<option value="2">录入</option>
							</select>
						</div>
					</div>
					<div class="form-group col-xs-4">
						<label class="col-xs-4 control-label">未注册原因：</label>
						<div class="col-xs-8">
							<select ng-model="reportRegister.unregisterReasonCode" id="unregisterReasonCode" name="unregisterReasonCode" ui-jq="chosen" ui-options="{search_contains: true}" class="form-control">
								<option ng-repeat="unregisterReasonCodeItem in unregisterReasonCodeData" value="{{unregisterReasonCodeItem.dataNumber}}">{{unregisterReasonCodeItem.dataName}}</option>
							</select>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 btn-center">
						<!-- 点击触发 ng-submit 事件 -->
						<button type="submit" class="btn btn-info">
							<span class="fa fa-search refer btn-icon-padding"></span>查询
						</button>
						<button type="button" class="btn btn-default" ng-click="searchReset()">
							<span class="fa fa-refresh reset btn-icon-padding"></span>重置
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="right-content-table">
		<div id="toolbar" class="btn-group">
			<div>
				<button has-permission="reportRegister:insert" type="button" class="btn btn-default add-btn" ng-click="openBatchAdd()">
					<span class="fa fa-plus toolbar-btn-icon"></span>批量注册
				</button>
				&nbsp;
				<button has-permission="reportRegister:insert" type="button" class="btn btn-default add-btn" ng-click="openAdd()">
					<span class="fa fa-plus toolbar-btn-icon"></span>注册
				</button>
			</div>
		</div>
		<table id="reportRegisterTable" ui-jq="bootstrapTable" ui-options="reportRegisterTable" class="table table-responsive"></table>
	</div>
</div>