<div class="modal-header">
	<button type="button" class="close" ng-click="close()">
		<span>&times;</span>
	</button>
	<h3 class="modal-title">添加用户组成员</h3>
</div>
<div class="modal-body">
	<div class="right-content">
		<div class="right-content-search">
			<div>
				<label class="control-label search-control" ng-click="searchFormHideToggle()">
					<i class="fa" ng-class="{'fa-caret-down': !isHideSearchForm, 'fa-caret-right': isHideSearchForm}"></i>&nbsp;查询条件
				</label>
			</div>
			<div ng-hide="isHideSearchForm">
				<form name="userSearchForm" ng-submit="searchSubmit()" class="form-horizontal search-form" novalidate>
					<div class="row">
						<div class="form-group col-xs-4">
							<label class="col-xs-4 control-label">用户类型：</label>
							<div class="col-xs-8">
								<select ng-model="user.yhlx" ui-chosen="userAddForm.yhlx" ng-required="true" id="yhlx_select" name="yhlx" ui-jq="chosen" ui-options="{search_contains: true}" class="form-control">
									<option value="">== 请选择 ==</option>
									<option value="1">教职工</option>
									<option value="2">学生</option>
								</select>
							</div>
						</div>
						<div class="form-group col-xs-4">
							<label class="col-xs-4 control-label">部门名称：</label>
							<div class="col-xs-8">
								<input type="text" ng-model="user.dwmc" id="dwmc" name="dwmc" class="form-control"/>
							</div>
						</div>
						<div class="form-group col-xs-4">
							<label class="col-xs-4 control-label">用户账号：</label>
							<div class="col-xs-8">
								<input type="text" ng-model="user.yhbh" id="yhbh" name="yhbh" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-group col-xs-4">
							<label class="col-xs-4 control-label">用户名称：</label>
							<div class="col-xs-8">
								<input type="text" ng-model="user.xm" id="xm" name="xm" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 btn-center">
							<!-- 点击触发 ng-submit 事件 -->
							<button type="submit" class="btn btn-info">
								<span class="fa fa-search refer btn-icon-padding"></span>查询
							</button>
							<button type="button" class="btn btn-default" ng-click="searchReset()">
								<span class="fa fa-refresh reset btn-icon-padding"></span>重置
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="right-content-table">
			<table id="userCanSelectTable" ui-jq="bootstrapTable" ui-options="userCanSelectTable" class="table table-responsive"></table>
		</div>
		<div style="padding-bottom: 10px;">
			<label>选择的用户：</label>
			<div select-content selecteds="selecteds" item-value="id" item-label="mc"/>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" type="button" ng-click="ok(addForm)">确 定</button>
	<button class="btn btn-default" type="button" ng-click="close()">取 消</button>
</div>