<style>
    .modal-content {
        width: 1000px;
    }
</style>
<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">
        <span>&times;</span>
    </button>
    <h3 class="modal-title">正考成绩更正</h3>
</div>
<div class="right-content">

    <div class="col-xs-12 searchDiv right-content-search">
        <div class="col-xs-12 " ng-hide="searchList">
            <form name="pyfabzkz_form" ng-submit="searchSubmit()" class="form-horizontal search-form" novalidate>
                <div class="row">
                    <div class="form-group col-xs-4">
                        <label class="col-xs-6 control-label" >课程编号：</label>
                        <label class="col-xs-6"style="margin-top:7px;">{{item.courseNum}}</label>
                    </div>
                    <div class="form-group col-xs-4" >
                        <label class="col-xs-6 control-label">课程名称：</label>
                        <label class="col-xs-6"style="margin-top:7px;">{{item.courseName}}</label>
                    </div>
                    <div class="form-group col-xs-4">
                        <label class="col-xs-6 control-label">开课单位：</label>
                        <label class="col-xs-6"style="margin-top:7px;">{{item.department}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-xs-4">
                        <label class="col-xs-6 control-label">学分：</label>
                        <label class="col-xs-6"style="margin-top:7px;">{{item.credit}}</label>
                    </div>
                </div>
            </form>
        </div>

    </div>

    <div class="right-content-table">
        <div id="toolbar" class="btn-group col-xs-12">
            <div class="row">
                <div class="form-group col-xs-4">
                    <button style="margin-top: 10px;" type="button"  class="btn btn-default " ng-click="openImport()">
                        <span class="fa fa-copy toolbar-btn-icon"></span>导入
                    </button>
                    <button style="margin-top: 10px;"  type="button"  class="btn btn-default " ng-click="openExport()">
                        <span class="fa fa-copy toolbar-btn-icon"></span>导出
                    </button>
                </div>
                <div class="form-group col-xs-4"></div>
                <div class="form-group col-xs-4" style="margin-top: 10px;">
                    <label class="col-xs-5 control-label" style="margin-top: 5px;">暂存时间(分)：</label>
                    <input type="text" style="width: 64px;height: 26px;" ng-model="timeout"  onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')" size="2" class=""/>
                    <button   type="button"  class="btn btn-default " ng-click="save()">
                        <span class="fa fa-copy toolbar-btn-icon"></span>保存
                    </button>
                </div>
            </div>
        </div>
        <form name="tableForm">
            <table id="teacherEnter" ui-jq="bootstrapTable" ui-options="teacherEnter" class="table table-responsive"></table>
        </form>
        <form name="codeCategorySearchForm" ng-submit="searchSubmit()" class="form-horizontal search-form" ng-hide="commitSign">
            <div class="row">
                <div class="form-group col-xs-12">
                    <label class="col-xs-2 control-label">更正原因：</label>
                    <div class="col-xs-10">
                        <textarea ng-model="courseInfo.remark" id="remark" name="remark" class="form-control" rows="3" style="width: 100.7%;"></textarea>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="col-xs-12 modal-footer" style="text-align:right;padding-right: 30px;background-color: #FFFFFF;">
        <button ng-hide="commitSign" class="btn btn-primary" ng-click="ok(2,tableForm)">
            提交
        </button>
        <button ng-hide="saveSign" class="btn btn-primary" ng-click="ok(3,tableForm)">
            保存
        </button>
        <button class="btn btn-default" ng-click="cancel()" >
            取消
        </button>
    </div>
</div>