<!--
    作者：wangchunlin
    时间：2017-09-27
-->
<div class="right-content">
	<div class="right-content-search">
		<div>
			<label class="control-label search-control" ng-click="searchFormHideToggle()">
				<i class="fa" ng-class="{'fa-caret-down': !isHideSearchForm, 'fa-caret-right': isHideSearchForm}"></i>&nbsp;查询条件
			</label>
		</div>
		<div ng-hide="isHideSearchForm">
			<form name="examRecordManageSearchForm" class="form-horizontal search-form" novalidate>
				<div class="row">
					<div class="form-group col-xs-4">
						<label class="col-xs-4 control-label">学年学期：</label>
						<div class="col-xs-8">
							<select name="semesterId" id="semesterId" ng-model="examRecordManage.semesterId" ui-jq="chosen" ui-options="{search_contains: true}" class="col-xs-8 form-control">
								<option value="">==请选择==</option>
							</select>
						</div>
					</div>
					<div class="form-group col-xs-4">
						<label class="col-xs-4 control-label" style="padding-left: 13px;">课程代码/名称：</label>
						<div class="col-xs-8">
							<input class="form-control" ng-model="examRecordManage.courseNum" class="input-small">
						</div>
					</div>
					<div class="form-group col-xs-4">
						<label class="col-xs-4 control-label" style="padding-left: 1px;">考试班编号/名称：</label>
						<div class="col-xs-8">
							<input class="form-control" ng-model="examRecordManage.classNum" class="input-small">
						</div>
					</div>
                </div>
                <div class="row">
					<div class="form-group col-xs-4">
						<label class="col-xs-4 control-label">开课单位：</label>
						<div class="col-xs-8">
							<input class="form-control" ng-model="examRecordManage.deptId" class="input-small">
						</div>
					</div>
					<div class="form-group col-xs-4">
						<label class="col-xs-4 control-label">学分：</label>
						<div class="col-xs-3">
							<input class="form-control" ng-model="examRecordManage.credit" class="input-small">
						</div>
						<label class="col-xs-2 control-label" style="text-align:center;padding:5px 0 0 0;"> 至 </label>
						<div class="col-xs-3">
							<input class="form-control" ng-model="examRecordManage.credit" class="input-small">
						</div>
					</div>
					<div class="form-group col-xs-4">
						<label class="col-xs-4 control-label">学时：</label>
						<div class="col-xs-3">
							<input class="form-control" ng-model="examRecordManage.hours" class="input-small">
						</div>
						<label class="col-xs-2 control-label" style="text-align:center;padding:5px 0 0 0;"> 至 </label>
						<div class="col-xs-3">
							<input class="form-control" ng-model="examRecordManage.hours" class="input-small">
						</div>
					</div>
                </div>
				<div class="row">
					<div class="form-group col-xs-4">
						<label class="col-xs-4 control-label" >考试开始时间：</label>
						<div class="col-xs-8">
							<div class="col-xs-6">
								<div class="input-group">
									<input ng-model="examRecordManage.startDate" id="startTime" name="startTime" type="text" class="form-control"
										   uib-datepicker-popup="yyyy-MM-dd"
										   is-open="ksrqOptions.opened"
										   datepicker-options="ksrqOptions.dateOptions"
										   current-text="今天"
										   clear-text="清除"
										   close-text="关闭"
										   ng-click="ksrqOptions.open()"
										   ng-change="ksrqOptions.changed()"/>
									<!--<span class="input-group-btn">-->
									<!--<button type="button" class="btn btn-default" ng-click="ksrqOptions.open()"><i class="glyphicon glyphicon-calendar"></i></button>-->
									<!--</span>-->
								</div>
							</div>
							<div class="col-xs-6">
								<div uib-timepicker ng-model="examRecordManage.startTime" style="float: right;"
									 show-spinners="false"
									 show-seconds="false"
									 show-meridian="false">
								</div>
							</div>
						</div>
						<!--<datetimepicker dateID="timepicker1" ng-model="examRecordManage.startExamTime" ng-model="time1" format="yyyy-MM-dd hh:ii" class="form-control"></datetimepicker>-->
					</div>
					<div class="form-group col-xs-4">
						<label class="col-xs-4 control-label" >考试结束时间：</label>
						<div class="col-xs-8">
							<div class="col-xs-6">
								<div class="input-group">
									<input ng-model="examRecordManage.endDate" id="endTime" name="endTime" type="text" class="form-control"
										   uib-datepicker-popup="yyyy-MM-dd"
										   is-open="jsrqOptions.opened"
										   datepicker-options="jsrqOptions.dateOptions"
										   current-text="今天"
										   clear-text="清除"
										   close-text="关闭"
										   ng-click="jsrqOptions.open()"
										   ng-change="jsrqOptions.changed()"/>
									<!--<span class="input-group-btn">-->
									<!--<button type="button" class="btn btn-default" ng-click="ksrqOptions.open()"><i class="glyphicon glyphicon-calendar"></i></button>-->
									<!--</span>-->
								</div>
							</div>
							<div class="col-xs-6">
								<div uib-timepicker ng-model="examRecordManage.endTime" style="float: right;"
									 show-spinners="false"
									 show-seconds="false"
									 show-meridian="false">
								</div>
							</div>
						</div>
					</div>
				</div>
                <div class="row">
					<div class="col-xs-12 btn-center">
						<!-- 点击触发 ng-submit 事件 -->
							<button id="btn_refer" type="button" class="btn btn-info" ng-click="searchSubmit()">
								<span class="fa fa-search refer"></span>查询
							</button>
							<button id="btn_reset" type="button" class="btn btn-default" ng-click="searchReset()">
								<span class="fa fa-refresh reset"></span>重置
							</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="right-content-table">
	<div id="toolbar" class="btn-group">
	</div>
	<table id="examRecordTable" ui-jq="bootstrapTable" ui-options="examRecordTable" class="table table-responsive"></table>
</div>
