<style>
	.tabStyle > a{
		color: #eea236 !important;
	}
	.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
		border-left: 1px solid #ddd;
		border-right: 1px solid #ddd;
		border-radius: 6px 6px 0 0;
		border-top-color: #03a9f5;
    	border-bottom: none;
	}
	.btn-warning.disabled, .btn-warning[disabled] {
	    padding: 0 15px!important;
    	height: 34px;
	}
</style>
<div class="modal-header">
	<button type="button" class="close" ng-click="close()">
		<span>&times;</span>
	</button>
	<h3 class="modal-title">专业课程计划申请</h3>
</div>
<div class="modal-body" style="height: 500px">
	<form name="outerForm" class="tab-form-demo">
		<uib-tabset active="activeForm" >
			<uib-tab ng-repeat="a in title"  index="$index" heading="{{a.name+a.tabClass}}" classes="{{a.style}}" ng-click="change(a)">
				<ng-form name="nestedForm">
					<div class="row right-content-table" style="padding: 10px 0">
						<div class="col-xs-9">
							<button type="button" has-permission="majorCurriculaApply:Input:insert" class="btn btn-default add-btn" ng-click="openAdd()">
								<span class="fa fa-plus toolbar-btn-icon"></span>新增
							</button>
						</div>
						<div class="col-xs-3" style="padding-top: 10px;color: red">
							<small>
								共{{a.creditDemand}}学分，已完成{{completeCredit}}学分
							</small>
						</div>
					</div>

				</ng-form>
			</uib-tab>
		</uib-tabset>
	</form>
	<div class="right-content-table">
		<table id="majorCoursePlanEnter" ui-jq="bootstrapTable" ui-options="majorCoursePlanEnter" class="table table-responsive"></table>
	</div>
</div>
<div class="modal-footer">
	<button type="button" ng-class="btnClass" ng-disabled="btnDisable" has-permission="majorCurriculaApply:Input:save" ng-click="toReview()">送 审</button>
	<button class="btn btn-default" type="button" ng-click="close()">关 闭</button>
</div>
