<div class="modal-header">
	<button type="button" class="close" ng-click="close()">
		<span>&times;</span>
	</button>
	<h3 class="modal-title">新 增</h3>
</div>
<div class="modal-body">
	<form name="versionModelAddform" class="form-horizontal" novalidate>
		<div class="row">
			<div class="form-group col-xs-6">
				<label class="col-xs-4 control-label required">课程模块：</label>
				<div class="col-xs-8">
					<select ng-change="changeCode(value)" ng-model="versionModel.model_ID" ui-chosen="versionModelAddform.model_ID" ng-required="true" id="model_ID" name="model_ID" ui-jq="chosen" ui-options="{search_contains: true}" class="form-control">
						<option value="">==请选择==</option>
						<option ng-click="changeCode(a.code)" ng-repeat="a in courseModel" value="{{a.id}}">{{a.name}}</option>
					</select>
				</div>
			</div>
			<div class="form-group col-xs-6">
				<label class="col-xs-4 control-label required">课程模块代码：</label>
				<div class="col-xs-8">
					<input type="text" ng-model="versionModel.modelCode" disabled ng-required="true" id="modelCode" name="modelCode" class="form-control"/>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-xs-6">
				<label class="col-xs-4 control-label required">课程属性：</label>
				<div class="col-xs-8">
					<select ng-model="versionModel.courseProperty_ID" ng-required="true" id="courseProperty_ID" name="courseProperty_ID" ui-jq="chosen" ui-options="{search_contains: true}" class="form-control">
						<option value="">==请选择==</option>
					</select>
				</div>
			</div>
			<div class="form-group col-xs-6">
				<label class="col-xs-4 control-label required">是否预置课程：</label>
				<div class="col-xs-8">
					<label class="radio-inline">
						<input type="radio" ng-model="versionModel.presetCourseSign" name="presetCourseSign" value="1"> 是
					</label>
					&nbsp;
					<label class="radio-inline">
						<input type="radio" ng-model="versionModel.presetCourseSign" name="presetCourseSign" value="0"> 否
					</label>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="form-group">
				<label class="col-xs-2 control-label">操作范围：</label>
				<div class="col-xs-9">
					<select ng-model="versionModel.modelOperationRange" name="modelOperationRange" id="modelOperationRange" ui-jq="chosen" multiple class="form-control">
						<option value="">==请选择==</option>
					</select>
				</div>
			</div>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" type="button" ng-click="ok(versionModelAddform)">确 定</button>
	<button class="btn btn-default" type="button" ng-click="close()">取 消</button>
</div>