<div class="right-content">
	<div class="col-xs-2 left-tree" ng-style="leftTreeStyle" ng-scroll-bar>
		<ul id="menuTree" z-tree tree-options="zTreeOptions" class="ztree"></ul>
	</div>
	<div class="col-xs-10" style="padding: 0px">
		<div class="right-content-search">
			<div>
				<label class="control-label search-control" ng-click="searchFormHideToggle()">
					<i class="fa" ng-class="{'fa-caret-down': !isHideSearchForm, 'fa-caret-right': isHideSearchForm}"></i>&nbsp;查询条件
				</label>
			</div>
			<div ng-hide="isHideSearchForm">
				<form name="codeCategorySearchForm" ng-submit="searchSubmit()" class="form-horizontal search-form">
					<div class="row">
						<div class="form-group col-xs-4">
							<label class="col-xs-6 control-label">开课学期：</label>
							<div class="col-xs-6">
								<select name="semesterId" id="semesterId" ng-model="inCurriculumFindDto.semesterId" class="form-control" ui-jq="chosen" ui-options="{search_contains: true}">
									<option value="">==请选择==</option>
									<option value="2016-2017-1">2016-2017-1</option>
									<option value="2016-2017-2">2016-2017-2</option>
									<option value="2017-2018-1">2017-2018-1</option>
								</select>
							</div>
						</div>
						<div class="form-group col-xs-4">
							<label class="col-xs-6 control-label">课程名称/编号：</label>
							<div class="col-xs-6">
								<input type="text" ng-model="inCurriculumFindDto.courseKeyword" id="courseKeyword" name="courseKeyword" class="form-control"/>
							</div>
						</div>
						<div class="col-xs-4 btn-center">
							<!-- 点击触发 ng-submit 事件 -->
							<button type="submit" class="btn btn-info" >
								<span class="fa fa-search refer btn-icon-padding"></span>查询
							</button>
							<button type="button" class="btn btn-default" ng-click="searchReset()">
								<span class="fa fa-refresh reset btn-icon-padding"></span>重置
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="right-content-table">
			<div id="toolbar" class="btn-group">
				<div>
					<button type="button" has-permission='electiveCurriculum:add' class="btn btn-default add-btn" ng-click="addCurriculum()">
						<span class="fa fa-edit toolbar-btn-icon"></span>新增
					</button>
				</div>
			</div>
			<table id="electiveCurriculumTable" ui-jq="bootstrapTable" ui-options="electiveCurriculumTable" class="table table-responsive"></table>
		</div>
	</div>
</div>