<ul class="nav navbar-nav">
	<li class="jw_navbar_logo" style="padding: 0px 15px 0 15px;">
		<span>
			<a ui-sref="home.index"><img id="homeImg" src="img/back_home.png"></a>
		</span>
	</li>
	<!--<li class="dropup" ng-repeat="item in bottomNavItems">
		<a href="" class="dropdown-toggle" data-toggle="dropdown"><span ng-bind="item.name"></span><b class="caret"></b></a>
		<ul class="dropdown-menu dropdown-primary jw_navbar">
			<li class="jw_navbar_tit"><span>最近</span></li>
			<li ng-repeat="child in item.child">
				<a ui-sref="{{child.href}}">
					<span class="fa fa-file-text-o jw_navbar_l"></span>
					<span ng-bind="child.name"></span>
				</a>
				<i class="fa fa-close" ng-click="removeThisItem(child.name)"></i>
			</li>
			<li class="jw_navbar_bottom" ng-click="closeAllWindows()">
				<a href=""><span class="fa fa-close jw_navbar_l"></span>关闭所有窗口</a>
			</li>
		</ul>
	</li>-->
	<div id="footer" class="footer footer3" style="height:30px;line-height: 30px;margin-left:148px;background-color:#f8f8f8 !important;">
		<p>版权所有<span>&copy;</span>北京电影学院 <span>BEIJING FILE ACADEMY</span></p>
	</div>
</ul>

