<script>
	$(document).ready(function() {
		$("#goBack").click(function() {
			setTimeout("javascript:history.go(-1)", 500);
		});
	});
</script>
<style>
	.btn-group {
		margin: 0;
	}
</style>
<div class="right-content">
	<div class="right-content-table">
		<div id="" class="form-group row" style="margin-bottom: 0px;">
			<big class="col-xs-3" style="padding: 15px 0px 0px 15px;">
				学年学期：{{semesterName}}
			</big>
		</div>
		<br>
		<div id="toolbar" class="btn-group row">
			<div>
				<button type="button" has-permission="courseTimeDemand:demandSet:insert" class="btn btn-default add-btn" ng-click="add()" style="margin-right: 36px;">
					<span class="fa fa-trash-o toolbar-btn-icon"></span>新增
				</button>
				<button type="button" has-permission="courseTimeDemand:demandSet:delete" class="btn btn-default del-btn" ng-click="openDelete()" style="margin-right: 40px;">
					<span class="fa fa-trash-o toolbar-btn-icon"></span>删除
				</button>
				<button type="button" class="btn btn-default info-btn" id="goBack">
					<span class="fa fa-backward toolbar-btn-icon"></span>返回
				</button>
			</div>
		</div>
		<table id="courseTimeDemandSettingTable" ui-jq="bootstrapTable" ui-options="courseTimeDemandSettingTable" class="table table-responsive"></table>
	</div>
</div>

