<div class="modal-header">
	<button type="button" class="close" ng-click="close()">
		<span>&times;</span>
	</button>
	<h3 class="modal-title">方案复制</h3>
</div>
<div class="modal-body">
	<form name="applyForm" class="form-horizontal" novalidate>
		<div class="form-group">
			<label class="col-xs-3 control-label required">申请理由：</label>
			<div class="col-xs-8">
				<textarea ng-model="toReview.reason" ng-required="true" id="reason" name="reason" class="form-control" rows="3"></textarea>
			</div>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" type="button" ng-click="ok(applyForm)">确 定</button>
	<button class="btn btn-default" type="button" ng-click="close()">取 消</button>
</div>