<div class="modal-header">
    <button type="button" class="close" ng-click="close()">
        <span>&times;</span>
    </button>
    <h3 class="modal-title">设置板块</h3>
</div>
<div class="modal-body">
    <form name="teachingClassSetform" class="form-horizontal" novalidate>
        <div class="form-group">
            <label class="col-xs-3 control-label" >板块：</label>
            <div class="col-xs-8 pull-left">
                <select ng-model="teachingClass.plateId"  id="plateId" name="plateId" class="form-control ">
                    <option style="margin: auto" ng-repeat="data in projectPalateData" value="{{data.id}}">{{data.name}}</option>
                </select>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok(teachingClassSetform)">确 定</button>
    <button class="btn btn-default" type="button" ng-click="close()">取 消</button>
</div>