<div class="modal-header">
	<button type="button" class="close" ng-click="close()">
		<span>&times;</span>
	</button>
	<h3 class="modal-title">班级名单</h3>
</div>
<div class="modal-body">
	<form name="codeCategoryAddform" ng-submit="searchSubmit()" class="form-horizontal" novalidate>
		<div class="form-group">
			<label class="col-xs-2 control-label ">学号：</label>
			<div class="col-xs-3">
				<input type="text" ng-model="classList.xh" id="xh" name="xh" class="form-control"/>
			</div>
			<label class="col-xs-2 control-label ">姓名：</label>
			<div class="col-xs-3">
				<input type="text" ng-model="classList.xm" id="xm" name="xm" class="form-control"/>
			</div>
		</div>
		<div class="form-group">
			<div class="col-xs-12 btn-center">
				<!-- 点击触发 ng-submit 事件 -->
				<button type="submit" class="btn btn-info">
					<span class="fa fa-search refer btn-icon-padding"></span>查询
				</button>
				<button type="button" class="btn btn-default" ng-click="searchReset()">
					<span class="fa fa-refresh reset btn-icon-padding"></span>重置
				</button>
			</div>
		</div>
		<div class="right-content-table">
			<div id="toolbar" class="btn-group">
				<div>
					<button has-permission="project:classListSet:insert" type="button" class="btn btn-default add-btn" ng-click="openStudentInfo()">
						<span class="fa fa-plus toolbar-btn-icon"></span>新增
					</button>
					&nbsp;
					<button has-permission="project:classListSet:delete" type="button" class="btn btn-default" ng-click="openDeleteStudentInfo()">
						<span class="fa fa-times toolbar-btn-icon"></span>删除
					</button>
				</div>
			</div>
			<table id="classListTable" ui-jq="bootstrapTable" ui-options="classListTable" class="table table-responsive"></table>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button class="btn btn-default" type="button" ng-click="close()">关 闭</button>
</div>

</div>