<div class="right-content">
	<div class="right-content-search">
		<div>
			<label class="control-label search-control" ng-click="searchFormHideToggle()">
				<i class="fa" ng-class="{'fa-caret-down': !isHideSearchForm, 'fa-caret-right': isHideSearchForm}"></i>&nbsp;查询条件
			</label>
		</div>
		<div ng-hide="isHideSearchForm">
			<form name="permissionSearchForm" ng-submit="searchSubmit()" class="form-horizontal search-form" novalidate>
				<div class="row">
					<div class="form-group col-xs-4">
						<label class="col-xs-4 control-label">权限编号：</label>
						<div class="col-xs-8">
							<input type="text" ng-model="permission.qxbh" id="qxbh" name="qxbh" class="form-control"/>
						</div>
					</div>
					<div class="form-group col-xs-4">
						<label class="col-xs-4 control-label">权限名称：</label>
						<div class="col-xs-8">
							<input type="text" ng-model="permission.mc" id="mc" name="mc" class="form-control"/>
						</div>
					</div>
					<div class="form-group col-xs-4">
						<label class="col-xs-4 control-label">类型：</label>
						<div class="col-xs-8">
							<select ng-model="permission.lx" id="lx" name="lx" ui-jq="chosen" ui-options="{search_contains: true}" class="form-control">
								<option value="">== 请选择 ==</option>
								<option value="function">功能</option>
							</select>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-xs-4">
						<label class="col-xs-4 control-label">所属域：</label>
						<div class="col-xs-8">
							<select ng-model="permission.ybh" id="ybh" name="ybh" ui-jq="chosen" ui-options="{search_contains: true}" class="form-control">
								<option ng-repeat="ybhItem in ybhData" value="{{ybhItem.bh}}">{{ybhItem.mc}}</option>
							</select>
						</div>
					</div>
					<div class="form-group col-xs-4">
						<label class="col-xs-4 control-label">所属服务：</label>
						<div class="col-xs-8">
							<select ng-model="permission.fwbh" id="fwbh" name="fwbh" ui-jq="chosen" ui-options="{search_contains: true}" class="form-control">
								<option ng-repeat="fwbhItem in fwbhData" value="{{fwbhItem.bh}}">{{fwbhItem.mc}}</option>
							</select>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 btn-center">
						<!-- 点击触发 ng-submit 事件 -->
						<button type="submit" class="btn btn-info">
							<span class="fa fa-search refer btn-icon-padding"></span>查询
						</button>
						<button type="button" class="btn btn-default" ng-click="searchReset()">
							<span class="fa fa-refresh reset btn-icon-padding"></span>重置
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="right-content-table">
		<div id="toolbar" class="btn-group">
			<div>
				<button has-permission="permission:insert" type="button" class="btn btn-default add-btn" ng-click="openAdd()">
					<span class="fa fa-plus toolbar-btn-icon"></span>新增
				</button>
			</div>
		</div>
		<table id="permissionTable" ui-jq="bootstrapTable" ui-options="permissionTable" class="table table-responsive"></table>
	</div>
</div>