<div class="modal-header">
	<button type="button" class="close" ng-click="close()">
		<span>&times;</span>
	</button>
	<h3 class="modal-title">密码重置</h3>
</div>
<div class="modal-body">
	<form name="schemeVersionCopyform" class="form-horizontal" novalidate>
		<div class="form-group">
			<label class="col-xs-3 control-label required">重置模式：</label>
			<div class="col-xs-8">
				<select ng-model="param.createModel" ui-chosen="schemeVersionAddform.educationLevel" ng-required="true" id="createModel" name="createModel" ui-jq="chosen" ui-options="{search_contains: true}" class="form-control">
					<option value="1">当前选中记录</option>
					<option value="2">当前页面</option>
					<option value="3">当前查询结果</option>
				</select>
			</div>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" type="button" ng-click="ok(schemeVersionCopyform)">确 定</button>
	<button class="btn btn-default" type="button" ng-click="close()">取 消</button>
</div>