<div class="modal-header">
	<button type="button" class="close" ng-click="close()">
		<span>&times;</span>
	</button>
	<h3 class="modal-title">修 改</h3>
</div>
<div class="modal-body">
	<form name="roleModifyForm" class="form-horizontal" novalidate>
		<div class="row">
			<div class="form-group col-xs-6">
				<label class="col-xs-4 control-label required">角色编号：</label>
				<div class="col-xs-8">
					<input type="text" ng-model="role.jsbh" ng-required="true" id="jsbh" name="jsbh" class="form-control"/>
				</div>
			</div>
			<div class="form-group col-xs-6">
				<label class="col-xs-4 control-label required">角色名称：</label>
				<div class="col-xs-8">
					<input type="text" ng-model="role.mc" ng-required="true" id="mc" name="mc" class="form-control"/>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-xs-6">
				<label class="col-xs-4 control-label required">角色类型：</label>
				<div class="col-xs-8">
					<select ng-model="role.lx" ui-chosen="roleModifyForm.lx" ng-required="true" id="lx_select" name="lx" ui-jq="chosen" ui-options="{search_contains: true}" class="form-control">
						<option value="">== 请选择 ==</option>
						<option value="1">组织类</option>
						<option value="2">非组织类</option>
						<option value="3">公共类</option>
					</select>
				</div>
			</div>
			<div class="form-group  col-xs-6">
				<label class="col-xs-4 control-label">状态：</label>
				<div class="col-xs-8">
					<label class="radio-inline">
						<input type="radio" ng-model="role.zt" name="zt" value="0"> 禁用
					</label>
					&nbsp;
					<label class="radio-inline">
						<input type="radio" ng-model="role.zt" name="zt" value="1"> 启用
					</label>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="form-group">
				<label class="col-xs-2 control-label">权限：</label>
				<div class="col-xs-9">
					<table id="permissionTable" ui-jq="bootstrapTable" ui-options="permissionTable" class="table table-responsive"></table>
				</div>
			</div>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" type="button" ng-click="ok(roleModifyForm)">确 定</button>
	<button class="btn btn-default" type="button" ng-click="close()">取 消</button>
</div>