<div class="modal-header">
	<button type="button" class="close" ng-click="close()">
		<span>&times;</span>
	</button>
	<h3 class="modal-title">专业课程计划审核</h3>
</div>
<div class="modal-body">


	<div class="right-content-table">
		<table id="majorCoursePlanEnterReview" ui-jq="bootstrapTable" ui-options="majorCoursePlanEnterReview" class="table table-responsive"></table>
	</div>
	<form name="codeCategorySearchForm" ng-submit="searchSubmit()" class="form-horizontal search-form">
	<div class="row">
		<div class="form-group col-xs-12">
			<label class="col-xs-2 control-label">审批记录：</label>
			<div class="col-xs-10">
				<textarea ng-model="courseInfo.remark" id="remark" name="remark" class="form-control" rows="3" style="width: 100.7%;"></textarea>
			</div>
		</div>
	</div>
	</form>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" type="button" has-permission='classCurriculaReview:review:handle' ng-click="ok()">办 理</button>
	<button class="btn btn-default" type="button" ng-click="close()">取 消</button>
</div>
