<style>
	.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
		border-left: 1px solid #ddd;
		border-right: 1px solid #ddd;
		border-radius: 6px 6px 0 0;
		border-top-color: #03a9f5;
    	border-bottom: none;
	}
</style>
<div class="right-content" >
	<div class="col-xs-12" style="padding: 5px 5px 0px 5px;">
		<uib-tabset active="active">
			<uib-tab index="0" heading="系统外成绩申请" ng-click="clickAlready1()">
				<div class="right-content-search" style="margin-top: 5px;">
					<div>
						<label class="control-label search-control" ng-click="searchFormToggle()">
							<i class="fa" ng-class="{'fa-caret-down': !isHideSearchForm, 'fa-caret-right': isHideSearchForm}"></i>&nbsp;查询条件
						</label>
					</div>
					<div ng-hide="isHideSearchForm">
						<form name="curriculaSearchForm" ng-submit="curriculaSearchSubmit()" class="form-horizontal search-form" novalidate>
							<div class="row">
								<div class="form-group col-xs-4">
									<label class="col-xs-4 control-label">学年学期：</label>
									<div class="col-xs-6">
										<select name="semesterId" id="semesterId" ng-model="outsideApply.semesterId" class="form-control" ui-jq="chosen" ui-options="{search_contains: true}">
											<option value="">==请选择==</option>
										</select>
									</div>
								</div>
								<div class="col-xs-4 ">
									<!-- 点击触发 ng-submit 事件 -->
									<button type="submit" class="btn btn-info">
										<span class="fa fa-search refer btn-icon-padding"></span>查询
									</button>
									&nbsp;
									<button type="button" class="btn btn-default" ng-click="curriculaSearchReset()">
										<span class="fa fa-refresh reset btn-icon-padding"></span>重置
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div style="padding: 0px 5px 0px 5px;">
					<div id="toolbar" class="btn-group">
						<div>
							<button type="button"  class="btn btn-default " ng-click="applyOutsideSchool()">
								<span class="fa fa-copy toolbar-btn-icon"></span>申请校外成绩
							</button>
						</div>
					</div>
					<table id="classCurriculaTable" ui-jq="bootstrapTable" ui-options="classCurriculaTable" class="table table-responsive"></table>
				</div>
			</uib-tab>
			<uib-tab index="1" heading="系统外成绩绑定申请" ng-click="clickAlready2()">
				<div class="right-content-search" style="margin-top: 5px;">
					<div>
						<label class="control-label search-control" ng-click="searchFormToggle()">
							<i class="fa" ng-class="{'fa-caret-down': !isHideSearchForm, 'fa-caret-right': isHideSearchForm}"></i>&nbsp;查询条件
						</label>
					</div>
					<div ng-hide="isHideSearchForm">
						<form name="curriculaSearchForm" ng-submit="curriculaSearchSubmit()" class="form-horizontal search-form" novalidate>
							<div class="row">
								<div class="form-group col-xs-4">
									<label class="col-xs-4 control-label">学年学期：</label>
									<div class="col-xs-6">
										<select name="semesterId"   id="semesterId" ng-model="outsideApply.semesterId" class="form-control" ui-jq="chosen" ui-options="{search_contains: true}">
											<option value="">==请选择==</option>
										</select>
									</div>
								</div>
								<div class="col-xs-4 ">
									<!-- 点击触发 ng-submit 事件 -->
									<button type="submit" class="btn btn-info">
										<span class="fa fa-search refer btn-icon-padding"></span>查询
									</button>
									&nbsp;
									<button type="button" class="btn btn-default" ng-click="curriculaSearchReset()">
										<span class="fa fa-refresh reset btn-icon-padding"></span>重置
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div style="padding: 5px 5px 0px 5px;">
					<div id="toolbar_tab2" class="btn-group">
						<div>
							<button type="button"  class="btn btn-default " ng-click="applyScoreBind()">
								<span class="fa fa-copy toolbar-btn-icon"></span>申请成绩绑定
							</button>
						</div>
					</div>
					<table id="classCurriculaRecordTable" ui-jq="bootstrapTable" ui-options="classCurriculaRecordTable" class="table table-responsive"></table>
				</div>
			</uib-tab>
		</uib-tabset>
	</div>
</div>