<style>
	
	.radio-class {
		padding-top: 2px!important;
	}
	
	.modal-footer {
	    padding: 4.5px 0!important;
	}
</style>

<div class="modal-header">
    <button type="button" class="close" ng-click="close()">
        <span>&times;</span>
    </button>
    <h3 class="modal-title">新增</h3>
</div>
<div class="right-content">

    <div search-show-hide  class="col-xs-12 searchDiv right-content-search" style="padding-bottom: 0;">
        <div  ng-hide="searchList">
            <form name="chooseCourseNumberManageAddForm" class="form-horizontal search-form" novalidate>
                <div class="row">
                    <div class="form-group col-xs-12" >
                        <label class="col-xs-2 control-label">学年学期：</label>
                        <div class="col-xs-4" style="padding-right: 15px;">
							<select id="semesterIdCenterAdd" class="form-control">
							</select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-xs-12">
                        <label class="col-xs-2 control-label">上课院系：</label>
                        <div class="col-xs-10">
	                        <select ui-select2 ng-model="chooseCourseNumberManage.deptId" id="deptId" name="deptId"
	                        	class="form-control" ui-jq="chosen" ui-options="{search_contains: true}">
		                		<option value="">==请选择==</option>
		                	</select>
                    	</div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-xs-12">
                        <label class="col-xs-2 control-label">上课年级：</label>
                        <div class="col-xs-10">
	                        <select ui-select2 ng-model="chooseCourseNumberManage.gradeId" id="gradeId" name="gradeId"
	                        	class="form-control" ui-jq="chosen" ui-options="{search_contains: true}">
		                		<option value="">==请选择==</option> 
		                	</select>
                    	</div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-xs-12">
                        <label class="col-xs-2 control-label">上课专业：</label>
                        <div class="col-xs-10">
	                        <select ui-select2 ng-model="chooseCourseNumberManage.majorId" id="majorId" name="majorId"
	                        	class="form-control" ui-jq="chosen" ui-options="{search_contains: true}">
		                		<option value="">==请选择==</option> 
		                	</select>
                    	</div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-xs-12">
                        <label class="col-xs-2 control-label">上课班级：</label>
                        <div class="col-xs-10">
	                        <select ui-select2 ng-model="chooseCourseNumberManage.classId" id="classId" name="classId"
	                        	class="form-control" ui-jq="chosen" ui-options="{search_contains: true}">
		                		<option value="">==请选择==</option> 
		                	</select>
                    	</div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-xs-6">
                        <label class="col-xs-4 control-label" style="padding-right: 0px;">最高选课门数：</label>
                        <div class="col-xs-8" style="padding-left: 5px;">
                    		<input type="number" ng-required="true" ng-model="chooseCourseNumberManage.highestNum" class="form-control" min="0" max="100" name="" size="2"/>
                        </div>
                    </div>
                    <div class="form-group col-xs-6">
                        <label class="col-xs-4 control-label" style="padding-right: 0px;">校公选门数：</label>
                        <div class="col-xs-8" style="padding-left: 5px;">
                    		<input type="number" ng-required="true" ng-model="chooseCourseNumberManage.schoolNum" class="form-control" min="0" max="100"  name="" size="2"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-xs-6">
                        <label class="col-xs-4 control-label" style="padding-right: 0px;">院系选修门数：</label>
                        <div class="col-xs-8" style="padding-left: 5px;">
                    		<input type="number" ng-required="true" ng-model="chooseCourseNumberManage.deptNum" class="form-control" min="0" max="100"  name="" size="2"/>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        
        
        
    <div class="col-xs-12 modal-footer" style="text-align: right;padding: 15px 0;background-color: #fff;margin-left: -8px;width: 102%;">
        <button class="btn btn-primary" ng-click="ok(chooseCourseNumberManageAddForm)">
            	确认
        </button>
        <button class="btn btn-default" ng-click="close()" >
            	取消
        </button>
    </div>
</div>
