<div class="modal-header">
	<button type="button" class="close" ng-click="close()">
        <span>&times;</span>
    </button>
	<h3 class="modal-title">同步至教学班名单</h3>
</div>
<div class="modal-body">
	<form name="transferTeacherClassForm" class="form-horizontal " novalidate>
		<div class="form-group">
			<label class="col-xs-3 control-label required">同步内容：</label>
			<div class="col-xs-8">
				<select id="synchronizationId" ng-model="selected" ng-required="true"  ui-jq="chosen"ui-options="{search_contains: true}" class="form-control">
					<option value="1" select="true">已选教学班</option>
					<option value="2">当前页</option>
					<option value="3">当前查询结果</option>
				</select>
			</div>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" type="button" ng-click="ok(transferTeacherClassForm)">确 定</button>
	<button class="btn btn-default" type="button" ng-click="close()">取 消</button>
</div>