

<div class="modal-header">
    <button type="button" class="close" ng-click="close()">
        <span>&times;</span>
    </button>
    <h3 class="modal-title">考试方式批量审批</h3>
</div>
<div class="modal-body">
    <form name="courseArrangeAddform" class="form-horizontal" novalidate>
        <div class="form-group">
            <label class="col-xs-3 control-label required">审批意见：</label>
            <div class="col-xs-8">
                <textarea type="text" ng-model="opinion" ng-required="true" id="spyj" name="spyj" class="form-control" rows="3" style="height: 100px;"/>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-info" ng-click="ok(1)"> 通 过 </button>
    <button class="btn btn-info" ng-click="ok(0)"> 退 回 </button>
    <button class="btn btn-default" type="button" ng-click="cancel()">取 消</button>
</div>