<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">
        <span>&times;</span>
    </button>
    <h3 class="modal-title">确定考试方式</h3>
</div>

<div class="modal-body">
    <table id="examinationMethodApprovalTable1" ui-jq="bootstrapTable" ui-options="examinationMethodApprovalTable1" class="table table-responsive"></table>
    <div class="modal-footer">
        <button class="btn btn-info" ng-click="ok()"> 提 交 </button>
        <button class="btn btn-default " ng-click="cancel()"> 取 消 </button>
    </div>
</div>

